.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container label {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 20px; 
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select,
.form-container textarea,
#employed{
  width: calc(100% - 200px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container textarea {
  resize: vertical;
}

.form-container .invalid {
    border-color: red;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-container label {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container select,
  .form-container textarea {
    width: calc(100% - 170px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-container input[type="checkbox"],
  .form-container input[type="radio"] {
    width: auto;
    margin-left: 10px; 
  }
  
  .form-container textarea {
    resize: vertical;
  }
  
  .form-container .invalid {
    border-color: red;
  }
  
  #output {
    margin-top: 20px;
  }
  


.toppings-container{
  width: 50%;
  margin-left: 170px;
}

#output {
  margin-top: 20px;
  background-color: #f2f2f2; 
  padding: 10px; 
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
